
<sly data-sly-use.venkat="/libs/granite/sightly/templates/clientlib.html"/>
<sly data-sly-call="${venkat.css @ categories='demo-deva-libs'}"/>


<sly data-sly-use.model="com.adobe.aem.guides.wknd.core.models.DemoDevaModel">

    <h1 class="deva"> Hi ${model.bannerTitle}, Welcome</h1>

    <p> ${model.bannerDescription}</p>

    <img src="${model.bannerImage}" />

    <ul data-sly-list.item="${model.bannerTabs}">
        <li>
            <a href="${item.pagePath}.html"> ${item.pageTitle}</a>
        </li>

    </ul>

    <p> ${model.testName}</p>
</sly>


<sly data-sly-use.venkat="/libs/granite/sightly/templates/clientlib.html"/>
<sly data-sly-call="${venkat.js @ categories='demo-deva-libs'}"/>