<sly data-sly-use.venkat="${'/libs/granite/sightly/templates/clientlib.html'}" 
 data-sly-call="${venkat.css @ categories='madhan-demo-libs'}"/>


<sly data-sly-use.model="com.adobe.aem.guides.wknd.core.models.MadhanDemoModel">

    <h1>My Name: <b> ${model.myName}</b></h1>
    <div style="height:${model.compHeight @ context='styleString'}px;">


        <h1 class="madhan-comp"> ${model.madhanTitle}</h1>


        <p>${model.madhanDescription}</p>

        <p>Mobile Number: <b>${model.mobileNumber}</b></p>

    </div>
</sly>


<sly data-sly-use.venkat="${'/libs/granite/sightly/templates/clientlib.html'}" 
 data-sly-call="${venkat.js @ categories='madhan-demo-libs'}"/>