<sly data-sly-use.venkat="${'/libs/granite/sightly/templates/clientlib.html'}" 
 data-sly-call="${venkat.css @ categories='madhan-demo-libs'}"/>


<sly data-sly-use.model="com.adobe.aem.guides.wknd.core.models.MadhanDemoModel">

    <h1>My Name: <b> ${model.myName}</b></h1>
    <div style="height:${model.compHeight @ context='styleString'}px;">


        <h1 class="madhan-comp"> ${model.madhanTitle}</h1>


        <p>${model.madhanDescription}</p>

        <p data-sly-test="${model.mobileNumber}">Mobile Number: <b>${model.mobileNumber}</b></p>

    </div> <br>

    <sly data-sly-include="${'venkat.html'}"/>

    ============================ Data sly List Example start ============================ <br>
    Contact Details:
    <ul data-sly-list.c="${model.contact}">
        <li data-sly-test="${c.contactName}">Contact Name: <b>${c.contactName}</b></li>
        
        <li data-sly-test="${c.contactEmail}">Contact Email: <b>${c.contactEmail}</b></li>
    </ul> <br>

     ============================ Data sly List Example End ============================ <br>


     ============================ Data sly Repeat Example start ============================ <br>

    <ul data-sly-repeat.c="${model.contact}">
        <li data-sly-test="${c.contactName}">Contact Name: <b>${c.contactName}</b></li>
        
        <li data-sly-test="${c.contactEmail}">Contact Email: <b>${c.contactEmail}</b></li>
    </ul> <br>


</sly>


<sly data-sly-use.venkat="${'/libs/granite/sightly/templates/clientlib.html'}" 
 data-sly-call="${venkat.js @ categories='madhan-demo-libs'}"/>