<sly  data-sly-use.obj="/libs/granite/sightly/templates/clientlib.html" />
<sly  data-sly-call="${obj.all @ categories='Sudha-header-libs'}"/>


<header>
    <ul>
        <li><a href="#" alt="registerbutton">Register </a></li>
        <li><a href="#" alt="logonbutton"><i class="fas fa-user-alt"></i> Login</a></li>
    </ul>

    <h5>
        +880166 253 232 <a href="mailto:engsahaly@gmail.com?subject=Hello!">info@domain.com</a>
    </h5>

</header>

<nav>
    <button>
        apply now
    </button>

    <ul>
        <li><a href="#" alt="homepage">home</a></li>
        <li><a href="#" alt="homepage">courses</a></li>
        <li><a href="#" alt="homepage">blog <i class="fas fa-chevron-down"></i> </a></li>
        <li><a href="#" alt="homepage">pages <i class="fas fa-chevron-down"></i></a></li>
        <li><a href="#" alt="homepage">contact</a></li>
    </ul>

    <h1>
        <i class="fab fa-angrycreative"></i>
        Wiser <span class="normalclass"> University </span>
    </h1>
</nav>