<sly  data-sly-use.obj="/libs/granite/sightly/templates/clientlib.html" />
<sly  data-sly-call="${obj.all @ categories='Sudha-header-libs'}"/>


<header>
    <ul>
        <li><a href="#" alt="registerbutton">${properties.registerText} </a></li>
        <li><a href="#" alt="logonbutton"><i class="fas fa-user-alt"></i> ${properties.loginText}</a></li>
    </ul>

    <h5>
        ${properties.mobileNumber} || <a href="mailto:engsahaly@gmail.com?subject=Hello!">${properties.email}</a>
    </h5>

</header>

<nav>
    <button>
        apply now
    </button>

    <ul>
        <li><a href="#" alt="homepage">home</a></li>
        <li><a href="#" alt="homepage">courses</a></li>
        <li><a href="#" alt="homepage">blog <i class="fas fa-chevron-down"></i> </a></li>
        <li><a href="#" alt="homepage">pages <i class="fas fa-chevron-down"></i></a></li>
        <li><a href="#" alt="homepage">contact</a></li>
    </ul>

    <h1 data-sly-test="${properties.universityName && properties.mobileNumber}">

        Venkat:${properties.universityName}
    </h1>
</nav>